<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>firebug logging</string>
	<key>ordering</key>
	<array>
		<string>1DA6AFF0-B7C1-414E-96C4-F0281012C6F5</string>
		<string>E20955B5-A04D-4DA0-B0A7-CE4CF0EF3696</string>
		<string>7509E819-8625-4E6A-8170-B3B462C39F30</string>
		<string>A5C78AD5-E496-4288-9B96-5E9E8EEE7E40</string>
		<string>782B3C13-780C-4AC4-B015-CDF372648E4F</string>
		<string>A8C058DB-F72B-4C6C-AD62-D6BB5FB214D8</string>
		<string>BA7D59B6-9D89-4078-B06C-EF87F9851890</string>
		<string>BAD95E91-3682-4C62-85BE-AF19F7F4132C</string>
	</array>
	<key>uuid</key>
	<string>9837B50D-20BD-47D5-8789-2259D1B2D0BF</string>
</dict>
</plist>
